<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <div style="text-align:center">
        <h2 style="color:orange">Welcome to my Geography Leaf</h2>
        <form action="/home/geoleaf" method="get" th:object="${country}">
            <select name="name">
                <option value="0">--Select a country--</option>
                <option th:each="name: ${countryList}"
                    th:value="${name}"
                    th:text="${name}"
                    th:field="*{name}">
                </option>
            </select>
            <button type="submit">Discover GeoLeaf</button>
        </form>
    </div>

</body>
</html>